@import "../../tool.scss";
$weuiMsgPaddingTop:px2rem(72px);
$weuiMsgIconGap:px2rem(60px);
$weuiMsgTextGap:px2rem(50px);
$weuiMsgTitleGap:px2rem(10px);
$weuiMsgOprGap:px2rem(50px);
$weuiMsgExtraAreaGap:px2rem(30px);
$weuiMsgExtraAreaOfMinHeight:px2rem(876px);