@import "./fn";

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $sansFont;
}
html,body{
   height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
}
.view-animate-container {
  position:relative;
  //height:100px!important;
  //background:white;
  //border:1px solid black;
  min-height:100%;
  width: px2rem(750px);
  //overflow:hidden;
}
.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all ease 0.20s;

  display:block;
  width:100%;
  //border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}