@import "../../../base/fn";
@import "weui_select";

.#{$weui_ns}select_before {
    padding-right: $weuiCellGapH;
    .#{$weui_ns}select {
        width:$weuiCellLabelWidth;
        box-sizing: border-box;
    }
    .#{$weui_ns}cell_hd {
        position: relative;
        &:after {
            @include setRightLine($weuiCellBorderColor);
        }
        &:before{
            content: " ";
            @include setArrow_Wap(right, px2rem(12px), #C8C8CD, px2rem(4px));

            position: absolute;
            top: 50%;
            right: $weuiCellGapH;
            margin-top: px2rem(-6px);
        }
    }
    .#{$weui_ns}cell_bd {
        padding-left: $weuiCellGapH;
        &:after{
            display:none;
        }
    }
}