@import "../../base/fn";

.#{$weui_ns}cells_access {
    .#{$weui_ns}cell:not(.no_access) {
        // 在cell_access和其它类型的cell混着用的场景下，其它cell要加no_access，避免有点击态
        @include setTapColor();
        &:active {
            background-color: #ECECEC;
        }
    }
    a.#{$weui_ns}cell {
        color: inherit;
    }
    .#{$weui_ns}cell_ft {
        &:after {
            content: " ";
            @include setArrow_Wap(right, px2rem(12px), #C8C8CD, px2rem(4px));
            top: px2rem(-1px);
            margin-left:.3em;
        }
    }
}

